<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add User</title>
</head>
<body>
<h1>Add User</h1>
<form th:action="@{/admin/users/add}" th:object="${user}" method="post">
    <label>Username: <input type="text" th:field="*{username}"/></label><br/>
    <label>Password: <input type="password" th:field="*{password}"/></label><br/>
    <label>Roles: <input type="text" name="roles"/></label><br/>
    <button type="submit">Save</button>
</form>
</body>
</html>
